extends layout

include mixins/_articleForm
include mixins/_articleCard

block content
    .inner
        h2= title
        .stores
            each article in articles
                +articleCard(article)
