extends layout

include mixins/_articleForm
include mixins/_articleCard

block content
    .inner
        h2= title
        .container
            .row
                each article in articles
                    +articleCard(article)
