mixin articleForm(article = {})
    form(action="/add" method="POST" class="card")
        label(for="title") Title
        input(type="text" name="title")
        label(for="body") Body
        textarea(name="body")
        - const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegatarian', 'Licensed']
        ul.tags
            each choice in choices
                .tag.tag__choice
                    input(type="checkbox" id=choice value=choice name="tags")
                    label(for=choice) #{choice}
        input(type="submit" value="Save" class="button")
